.seashell {
	background: seashell;
}


.gainsboro {
	background: gainsboro;
}


.springgreen {
	background: springgreen;
}


.bisque {
	background: bisque;
}


.steelblue {
	background: steelblue;
}


.turquoise {
	background: turquoise;
}


.scroll {
	background: scroll;
}


.sandybrown {
	background: sandybrown;
}


.darkturquoise {
	background: darkturquoise;
}


.gainsboro {
	background: gainsboro;
}


.ghostwhite {
	background: ghostwhite;
}

.lightseagreen {
	background: lightseagreen;
}

.darksalmon {
	background: darksalmon;
}

.fushsia {
	background: fushsia;
}

.indianred {
	background: indianred;
}

.khaki {
	background: khaki;
}

.lightcoral {
	background: lightcoral;
}

.salmon {
	background: salmon;
}

.powderblue {
	background: powderblue;
}

.mediumspringgreen {
	background: mediumspringgreen;
}