<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Beppu Hatto｜ホーム</title>
		
		 <!-- import Vue.js, javascript, css before Element UI-->
		<script th:src="@{/webjars/vue/2.5.3-1/vue.js}"></script>
    	<script th:src="@{/webjars/element-ui/2.0.8/lib/index.js}"></script>
    	<script th:src="@{/webjars/element-ui/2.0.8/lib/umd/locale/ja.js}"></script> <!-- 日本語訳用パッケージ  -->
    	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    	
    	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    	
    	<link rel="stylesheet" th:href="@{/webjars/element-ui/2.0.8/lib/theme-chalk/index.css}" />
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		
	</head>
	<body>
		<div id="app">
		
			<el-container>
            	<el-header>
            		<div class="mt-20">
            			<a th:href="@{'/'}"><img th:src="@{/image/onsen.png}" width="20px" height="20px" /></a>
		            	<a th:href="@{'/'}" class="title"><span class="bad_script">Beppu Hatto</span></a>
            		</div>
            	</el-header>
        	</el-container>
            
            <el-container>
	            <el-main>
	            	<div class="index_messages">
	            		<div style="display: block;">
	            			<a th:href="@{'/'}" class="title exp"><span class="bad_script">Beppu Hatto</span></a>
		            		<h1> とは</h1>
	            		</div>
		            	<h4>あなたにぴったりの別府温泉が見つかるサービスです</h4>
						<p class="mt-20">これは、様々な条件から八種類あるといわれる別府温泉<br>
							の中から、あなたに合う温泉を提案するサービスです。<br>
							あなたにとって、一番ぴったりの温泉が見つかりますよ！
						</p>
					</div>
					<div class="index_selection mt-50">
						<el-row>
							<div>
								<el-col>
			                    	<div class="img mr-10" style="display: inline-block;" @click="onYusituCardCLick" @mouseenter="onOmikugienter" @mouseleave="onMouseleave">
			                        	<img th:src="@{/image/onsen.png}" width="20px" height="20px" />
			                        	<span>「湯質」で選ぶ</span>
			                        </div>
			                    	<div class="img ml-10" style="display: inline-block;" @click="onLocateCardCLick" @mouseenter="onTenCardenter" @mouseleave="onMouseleave">
			                        	<img th:src="@{/image/onsen.png}" width="20px" height="20px" />
			                        	<span>「立地」で選ぶ</span>
			                        </div>
			                    </el-col>
							</div>
							<div>
								<el-col>
			                    	<div class="img mr-10" style="display: inline-block;" @click="onOmikugiCardCLick" @mouseenter="onOmikugienter" @mouseleave="onMouseleave">
			                        	<img th:src="@{/image/onsen.png}" width="20px" height="20px" />
			                        	<span>「ロケーション」で選ぶ</span>
			                        </div>
			                        <div class="animal" >
					                 	<div class="animal_chat" style="display: inline-block;">
					                 		<p>{{ display }}</p>
					                 		<img th:src="@{/image/fuki2.svg}" width="300px" height="300px" />
					                 	</div>
					                 	<img class="pt-50" th:src="@{/image/capy.png}"  width="300px" height="300px" @mouseenter="onCapyenter" @mouseleave="onMouseleave" />
					                 </div>
			                    	<div class="img ml-10" style="display: inline-block;" @click="onOmikugiCardCLick" @mouseenter="onTenCardenter" @mouseleave="onMouseleave">
			                        	<img th:src="@{/image/onsen.png}" width="20px" height="20px" />
			                        	<span>「アクティビティ」で選ぶ</span>
			                        </div>
			                    </el-col>
							</div>
		                    <el-col>
		                        <div class="img" style="display: inline-block;" @click="onTenCardCLick" @mouseenter="onTenCardenter" @mouseleave="onMouseleave">
		                        	<img th:src="@{/image/onsen.png}" width="20px" height="20px" />
		                        	<span>温泉日記</span>
		                        </div>
		                    </el-col>
		                 </el-row>
		             </div>
		             <div>
						<el-col>
	                    	<div class="img mr-10" style="display: inline-block;" @click="onOmikugiCardCLick" @mouseenter="onOmikugienter" @mouseleave="onMouseleave">
	                        	<img th:src="@{/image/onsen.png}" width="20px" height="20px" />
	                        	<span>「湯質」で選ぶ</span>
	                        </div>
	                    	<div class="img ml-10" style="display: inline-block;" @click="onOmikugiCardCLick" @mouseenter="onTenCardenter" @mouseleave="onMouseleave">
	                        	<img th:src="@{/image/onsen.png}" width="20px" height="20px" />
	                        	<span>「立地」で選ぶ</span>
	                        </div>
	                    </el-col>
					</div>
	                 <div class="animal" >
	                 	<div class="animal_chat" style="display: inline-block;">
	                 		<p>{{ display }}</p>
	                 		<img th:src="@{/image/fuki2.svg}" width="300px" height="300px" />
	                 	</div>
	                 	<img class="pt-50" th:src="@{/image/capy.png}"  width="300px" height="300px" @mouseenter="onCapyenter" @mouseleave="onMouseleave" />
	                 </div>
	             </el-main>
			</el-container>
            
            <el-container>
            	<el-footer>
            		
            	</el-footer>
            </el-container>
			<!--  
				<img src="https://cdn.pixabay.com/photo/2012/08/30/06/18/oita-55282_960_720.jpg">
				<img src="https://cdn.pixabay.com/photo/2012/08/30/06/20/oita-55283_960_720.jpg">
				<img src="https://cdn.pixabay.com/photo/2014/09/05/02/18/oita-436078_960_720.jpg">
			-->
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
		<script type="text/javascript">
			ELEMENT.locale(ELEMENT.lang.ja)
			var index = new Vue({
				el: '#app',
				data: {
					informations: [
						'おはよう',
						'立地',
						'湯質',
						'お好み',
					],
					display: "",
				},
				name: 'index',
				methods: {
			        onTenCardCLick: function () {
			            window.location.href = "ten";
			        },
			        onYusituCardCLick: function () {
			            window.location.href = "omikugi";
			        },
			        onLocateCardCLick: function () {
			            window.location.href = "omikugi_2";
			        },
			        onCapyenter: function() {
			        	this.display = this.informations[0];
			    	},
			    	onOmikugienter: function() {
			        	this.display = this.informations[2];
			    	},
			    	onTenCardenter: function() {
			        	this.display = this.informations[1];
			    	},
			    	onMouseleave: function() {
			    		this.display = this.informations[0];
			    	},
			    },
			});
		</script>
	</body>
</html>