<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Beppu Hatto｜おみくじ</title>
		
		 <!-- import Vue.js, javascript, css before Element UI-->
		<script th:src="@{/webjars/vue/2.5.3-1/vue.js}"></script>
    	<script th:src="@{/webjars/element-ui/2.0.8/lib/index.js}"></script>
    	<script th:src="@{/webjars/element-ui/2.0.8/lib/umd/locale/ja.js}"></script> <!-- 日本語訳用パッケージ  -->
    	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    	<link rel="stylesheet" th:href="@{/webjars/element-ui/2.0.8/lib/theme-chalk/index.css}" />
    	
    	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    	
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/background.css}" />
	</head>
	<body>
		<div id="app">
	     		<el-container>
            		<el-header>
	            		<div class="mt-20">
	            			<a th:href="@{'/'}"><img th:src="@{/image/onsen.png}" width="20px" height="20px" /></a>
			            	<a th:href="@{'/'}" class="title"><span class="bad_script">Beppu Hatto</span></a>
	            		</div>
	            	</el-header>
	        	</el-container>
	        	<el-container>
       				<el-main>
       					<div class="q1_1" v-if="qFlg == 1">
       						<div class="question">
       							<h1>Q1</h1>
       							<h1>温度は、どのくらいが理想ですか？</h1>
       						</div>
       						<div class="click mt-50">
       							<div class="img mr-10" style="display: inline-block;" @click="oneclick(3); counterQuestion()" @mouseenter="onHighenter()" @mouseleave="onMouseleave()">
			                        <span>高め</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="oneclick(2); counterQuestion()" @mouseenter="onNormalenter()" @mouseleave="onMouseleave()">
			                        <span>普通</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="oneclick(1); counterQuestion()" @mouseenter="onLowenter()" @mouseleave="onMouseleave()">
			                        <span>低め</span>
			                    </div>
       						</div>
       						<div class="animal" >
			                 	<div class="animal_chat" style="display: inline-block;">
			                 		<p>{{ display }}</p>
			                 		<img th:src="@{/image/fuki2.svg}" width="300px" height="300px" />
			                 	</div>
			                 	<img th:src="@{/image/capy.png}"  width="300px" height="300px" @mouseenter="onCapyenter()" @mouseleave="onMouseleave()" />
			                </div>
       					</div>
       					<div class="q1_2" v-if="qFlg == 2">
       						<div class="question">
       							<h1>Q2</h1>
       							<h1>硫黄は、どのくらいが理想ですか？</h1>
       						</div>
       						<div class="click mt-50">
       							<div class="img mr-10" style="display: inline-block;" @click="twoclick(3); counterQuestion()" @mouseenter="onHighenter()" @mouseleave="onMouseleave()">
			                        <span>高め</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="twoclick(2); counterQuestion()" @mouseenter="onNormalenter()" @mouseleave="onMouseleave()">
			                        <span>普通</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="twoclick(1); counterQuestion()" @mouseenter="onLowenter()" @mouseleave="onMouseleave()">
			                        <span>低め</span>
			                    </div>
       						</div>
       						<div class="animal" >
			                 	<div class="animal_chat" style="display: inline-block;">
			                 		<p>{{ display }}</p>
			                 		<img th:src="@{/image/fuki2.svg}" width="300px" height="300px" />
			                 	</div>
			                 	<img th:src="@{/image/capy.png}"  width="300px" height="300px" @mouseenter="onCapyenter()" @mouseleave="onMouseleave()" />
			                </div>
       					</div>
       					<div class="q1_3" v-if="qFlg == 3">
       						<div class="question">
       							<h1>Q3</h1>
       							<h1>白濁は、どのくらいが理想ですか？</h1>
       						</div>
       						<div class="click mt-50">
       							<div class="img mr-10" style="display: inline-block;" @click="threeclick(3); counterQuestion()" @mouseenter="onHighenter()" @mouseleave="onMouseleave()">
			                        <span>濃い</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="threeclick(2); counterQuestion()" @mouseenter="onNormalenter()" @mouseleave="onMouseleave()">
			                        <span>普通</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="threeclick(1); counterQuestion()" @mouseenter="onLowenter()" @mouseleave="onMouseleave()">
			                        <span>薄い</span>
			                    </div>
       						</div>
       						<div class="animal" >
			                 	<div class="animal_chat" style="display: inline-block;">
			                 		<p>{{ display }}</p>
			                 		<img th:src="@{/image/fuki2.svg}" width="300px" height="300px" />
			                 	</div>
			                 	<img th:src="@{/image/capy.png}"  width="300px" height="300px" @mouseenter="onCapyenter()" @mouseleave="onMouseleave()" />
			                </div>
       					</div>
       					<div class="loading" v-if="qFlg == 4">
       						<div class="question">
       							<h1>只今処理中です。</h1>
       							<h1>処理が終了するまで、しばらくお待ちください。</h1>
       						</div>
       						<div class="click mt-50">
			                    <img th:src="@{/image/mozo.svg}" class="content mt-50" width="200px" height="200px" />
    							<div class="content mt-80">
    								<i class="el-icon-loading"></i>
    							</div>
    							<div class="content mt-50">
	       							<span>ちょっとだけ待ってね。</span>
	       							<button @click="onResultCLick()">次へ</button>
		       					</div>
       						</div>
       					</div>
       						<!-- 
       						<div id="overlay">
       							<div id="content">
       								<img th:src="@{/image/mozo.svg}" class="content mt-50" width="100px" height="100px" />
       								<div class="content mt-80">
       									<i class="el-icon-loading"></i>
       								</div>
       								<div class="content mt-50">
			       						<span>ちょっとだけ待ってね。</span>
			       						<button @click="onResultCLick()">次へ</button>
			       					</div>
		       					</div>
	       					</div>
	       					 -->
       				</el-main>
      			</el-container>
	    </div>
	    <script>
		  	ELEMENT.locale(ELEMENT.lang.ja)
		    var ten = new Vue({
		    	el: '#app',
		    	data: {
		            qFlg: 1,
		            yesFlg: false,
		            noFlg: false,
		            json: {},
		            informations: [
						'高めなのがお好き？！？！？！？',
						'普通なのがお好き？！？！？！？',
						'低めなのがお好き？！？！？！？',
						'ワシのことはええんじゃよ、、、',
						'好きなボタンを押してみてくれ！！'
					],
					display: "",
		        },
		    	name: 'omikugi',
		        methods: {
			        	oneclick: function(value) {
		        			this.json['first_times'] = value;
		        			console.log(JSON.stringify(this.json));
		      			}, 
		      			twoclick: function(value) {
		        			this.json['second_times'] = value;
		        			var today = new Date;
		        			this.json['select_date'] =  today // today.getFullYear() + "/" +  today.getMonth() + 1 + "/"+ today.getDate()
		        			console.log(this.json['select_date']);
		        			console.log(JSON.stringify(this.json));
		      			},
		        		threeclick: function(value) {
		        			this.json['third_times'] = value;
		        			this.json['category'] = 1;
		        			console.log(JSON.stringify(this.json));
		        			// 試験用
		        			//const json1 = {
		      				//		first_times: value,
		      				//		second_times: value,
		      				//		third_times: value,
		      				//		select_date: '2022-01-13'
		      				//};
		        			$.ajax({
		        				url: 'action/one/pull',  // thisの更新対策(scopeでは別処理)
		        				type: 'post',
		        				data: JSON.stringify(this.json),
		        				contentType: 'application/json'
		        			}).then(
		        				function(response) {
		        					this.yesFlg = true;
		        					this.noFlg = false;
		        					//delete json['first_times'];
		        					//delete json['second_times'];
		        					//delete json['third_times'];
		        					//delete json['select_date'];
		        					//delete json['category'];
		        					this.json = {};
		        					console.log("yes");
		        					window.location.href = "result";
		        				},
		        				function () {
		        					this.yesFlg = false;
		        					this.noFlg = true;
		        				}
		        			);
		        		},// ここでajaxの非同期通信を終了
			        	onMainCardCLick: function () {
			                window.location.href = "index";
			            },
			            onResultCLick: function () {
			                window.location.href = "result";
			            },
			            counterQuestion: function() {
			            	this.qFlg = this.qFlg + 1;
			            },
			            onHighenter: function() {
				        	this.display = this.informations[0];
				    	},
				    	onNormalenter: function() {
				        	this.display = this.informations[1];
				    	},
				    	onLowenter: function() {
				        	this.display = this.informations[2];
				    	},
				    	onCapyenter: function() {
				    		this.display = this.informations[3];
				    	},
				    	onMouseleave: function() {
				    		this.display = this.informations[4];
				    	},
		         },
		    });
		</script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
	 </body>
</html>
 