<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Beppu Hatto｜おみくじ</title>
		
		 <!-- import Vue.js, javascript, css before Element UI-->
		<script th:src="@{/webjars/vue/2.5.3-1/vue.js}"></script>
    	<script th:src="@{/webjars/element-ui/2.0.8/lib/index.js}"></script>
    	<script th:src="@{/webjars/element-ui/2.0.8/lib/umd/locale/ja.js}"></script> <!-- 日本語訳用パッケージ  -->
    	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    	<link rel="stylesheet" th:href="@{/webjars/element-ui/2.0.8/lib/theme-chalk/index.css}" />
    	
    	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    	
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div id="app">
	     		<el-container>
            		<el-header>
	            		<div class="mt-20">
	            			<a th:href="@{'/'}"><img th:src="@{/image/onsen.png}" width="20px" height="20px" /></a>
			            	<a th:href="@{'/'}" class="title"><span class="bad_script">Beppu Hatto</span></a>
	            		</div>
	            	</el-header>
	        	</el-container>
	        	<el-container>
       				<el-main>
       					<div class="q1_1" v-if="qFlg == 1">
       						<div class="question">
       							<h1>Q1</h1>
       							<h1>温度は、どのくらいが理想ですか？</h1>
       						</div>
       						<div class="click mt-50">
       							<div class="img mr-10" style="display: inline-block;" @click="oneclick(3); counterQuestion()">
			                        <span>高め</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="oneclick(2); counterQuestion()">
			                        <span>普通</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="oneclick(1); counterQuestion()">
			                        <span>低め</span>
			                    </div>
       						</div>
       					</div>
       					<div class="q1_2" v-if="qFlg == 2">
       						<div class="question">
       							<h1>Q2</h1>
       							<h1>硫黄は、どのくらいが理想ですか？</h1>
       						</div>
       						<div class="click mt-50">
       							<div class="img mr-10" style="display: inline-block;" @click="twoclick(3); counterQuestion()">
			                        <span>高め</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="twoclick(2); counterQuestion()">
			                        <span>普通</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="twoclick(1); counterQuestion()">
			                        <span>低め</span>
			                    </div>
       						</div>
       					</div>
       					<div class="q1_3" v-if="qFlg == 3">
       						<div class="question">
       							<h1>Q3</h1>
       							<h1>白濁は、どのくらいが理想ですか？</h1>
       						</div>
       						<div class="click mt-50">
       							<div class="img mr-10" style="display: inline-block;" @click="threeclick(3); counterQuestion()">
			                        <span>濃い</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="threeclick(2); counterQuestion()">
			                        <span>普通</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="threeclick(1); counterQuestion()">
			                        <span>薄い</span>
			                    </div>
       						</div>
       					</div>
       					<div class="loading" v-if="qFlg == 4">
       						<div id="overlay">
       							<div id="content">
       								<img th:src="@{/image/mozo.svg}" class="content mt-50" width="100px" height="100px" />
       								<div class="content mt-80">
       									<i class="el-icon-loading"></i>
       								</div>
       								<div class="content mt-50">
			       						<span>ちょっとだけ待ってね。</span>
			       						<button @click="onResultCLick">次へ</button>
			       					</div>
		       					</div>
	       					</div>
       					</div>
       				</el-main>
      			</el-container>
	    </div>
	    <script>
		  	ELEMENT.locale(ELEMENT.lang.ja)
		  	const json = {};
		    var ten = new Vue({
		    	el: '#app',
		    	data: {
		            qFlg: 1,
		            yesFlg: false,
		            noFlg: false,
		        },
		    	name: 'omikugi',
		        methods: {
		        		threeclick: function(value) {
		        			json['third_times'] = value;
		        			json['select_date'] = new Date;
		        			// 試験用
		        			//const json1 = {
		      				//		first_times: value,
		      				//		second_times: value,
		      				//		third_times: value,
		      				//		select_date: '2022-01-13'
		      				//};
		        			$.ajax({
		        				url: 'action/one/pull',  // thisの更新対策(scopeでは別処理)
		        				type: 'post',
		        				data: JSON.stringify(json),
		        				contentType: 'application/json'
		        			}).then(
		        				function(response) {
		        					this.yesFlg = true;
		        					this.noFlg = false;
		        					delete json['first_times'];
		        					delete json['second_times'];
		        					delete json['third_times'];
		        					delete json['select_date'];
		        				},
		        				function () {
		        					this.yesFlg = false;
		        					this.noFlg = true;
		        				}
		        			);
		        		},// ここでajaxの非同期通信を終了
		        		oneclick: function(value) {
		        			json['first_times'] = value;
		      			}, 
		      			twoclick: function(value) {
		        			json['second_times'] = value;
		      			}, 
			        	onMainCardCLick: function () {
			                window.location.href = "index";
			            },
			            onResultCLick: function () {
			                window.location.href = "result";
			            },
			            counterQuestion: function() {
			            	this.qFlg = this.qFlg + 1;
			            }
		         },
		         created: function() {
			    	console.log('created');
			     },
			     mounted: function(){
			        console.log('mounted');
			     },
		    });
		</script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
	 </body>
</html>
 