<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Beppu Hatto｜立地</title>
		
		 <!-- import Vue.js, javascript, css before Element UI-->
		<script th:src="@{/webjars/vue/2.5.3-1/vue.js}"></script>
    	<script th:src="@{/webjars/element-ui/2.0.8/lib/index.js}"></script>
    	<script th:src="@{/webjars/element-ui/2.0.8/lib/umd/locale/ja.js}"></script> <!-- 日本語訳用パッケージ  -->
    	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    	<link rel="stylesheet" th:href="@{/webjars/element-ui/2.0.8/lib/theme-chalk/index.css}" />
    	
    	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    	
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/background.css}" />
	</head>
	<body>
		<div id="app">
	     		<el-container>
            		<el-header>
	            		<div class="mt-20">
	            			<a th:href="@{'/'}"><img th:src="@{/image/onsen.png}" width="20px" height="20px" /></a>
			            	<a th:href="@{'/'}" class="title"><span class="bad_script">Beppu Hatto</span></a>
	            		</div>
	            	</el-header>
	        	</el-container>
	        	<el-container>
       				<el-main>
       					<div class="q1_1" v-if="qFlg == 1">
       						<div class="question">
       							<h1>Q1</h1>
       							<h1>別府に来るときは誰を連れてくる？</h1>
       						</div>
       						<div class="click mt-50">
       							<div class="img mr-10" style="display: inline-block;" @click="oneclick(3); counterQuestion()" @mouseenter="onChildenter()" @mouseleave="onMouseleave()">
			                        <span>家族(子供含む)で楽しむ</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="oneclick(2); counterQuestion()" @mouseenter="onAdultenter()" @mouseleave="onMouseleave()">
			                        <span>家族(大人のみ)で楽しむ</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="oneclick(1); counterQuestion()" @mouseenter="onOnlyenter()" @mouseleave="onMouseleave()">
			                        <span>一人で楽しむ</span>
			                    </div>
       						</div>
       						<div class="animal" >
			                 	<div class="animal_chat" style="display: inline-block;">
			                 		<p>{{ display }}</p>
			                 		<img th:src="@{/image/fuki2.svg}" width="300px" height="300px" />
			                 	</div>
			                 	<img class="pt-50" th:src="@{/image/capy.png}"  width="300px" height="300px" @mouseenter="onCapyenter()" @mouseleave="onMouseleave()" />
			                 </div>
       					</div>
       					<div class="q1_2" v-if="qFlg == 2">
       						<div class="question">
       							<h1>Q2</h1>
       							<h1>別府に一番求めるとしたらどれ？</h1>
       						</div>
       						<div class="click mt-50">
       							<div class="img mr-10" style="display: inline-block;" @click="twoclick(3); counterQuestion()" @mouseenter="onLeisureenter()" @mouseleave="onMouseleave()" >
			                        <span>レジャー施設</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="twoclick(2); counterQuestion()" @mouseenter="onRestenter()" @mouseleave="onMouseleave()">
			                        <span>安らぎ</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="twoclick(1); counterQuestion()" @mouseenter="onGetlostenter()" @mouseleave="onMouseleave()">
			                        <span>どちらかとは言えない</span>
			                    </div>
       						</div>
       						<div class="animal" >
			                 	<div class="animal_chat" style="display: inline-block;">
			                 		<p>{{ display }}</p>
			                 		<img th:src="@{/image/fuki2.svg}" width="300px" height="300px" />
			                 	</div>
			                 	<img class="pt-50" th:src="@{/image/capy.png}"  width="300px" height="300px" @mouseenter="onCapyenter()" @mouseleave="onMouseleave()" />
			                 </div>
       					</div>
       					<div class="q1_3" v-if="qFlg == 3">
       						<div class="question">
       							<h1>Q3</h1>
       							<h1>当日は何をして遊びたい？</h1>
       						</div>
       						<div class="click mt-50">
       							<div class="img mr-10" style="display: inline-block;" @click="threeclick(3); counterQuestion()" @mouseenter="onGoaroundenter()" @mouseleave="onMouseleave()">
			                        <span>温泉めぐり</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="threeclick(2); counterQuestion()"  @mouseenter="onHotelenter()" @mouseleave="onMouseleave()">
			                        <span>旅館でゆっくり</span>
			                    </div>
			                    <div class="img ml-10" style="display: inline-block;" @click="threeclick(1); counterQuestion()" @mouseenter="onGetlostenter()" @mouseleave="onMouseleave()">
			                        <span>どちらでもよい</span>
			                    </div>
       						</div>
       						<div class="animal" >
			                 	<div class="animal_chat" style="display: inline-block;">
			                 		<p>{{ display }}</p>
			                 		<img th:src="@{/image/fuki2.svg}" width="300px" height="300px" />
			                 	</div>
			                 	<img class="pt-50" th:src="@{/image/capy.png}"  width="300px" height="300px" @mouseenter="onCapyenter()" @mouseleave="onMouseleave()" />
			                 </div>
       					</div>
       					<div class="loading" v-if="qFlg == 4">
       						<div class="question">
       							<h1>只今処理中です。</h1>
       							<h1>処理が終了するまで、しばらくお待ちください。</h1>
       						</div>
       						<div class="click mt-50">
			                    <img th:src="@{/image/mozo.svg}" class="content mt-50" width="100px" height="100px" />
    							<div class="content mt-80">
    								<i class="el-icon-loading"></i>
    							</div>
    							<div class="content mt-50">
	       							<span>ちょっとだけ待ってね。</span>
	       							<button @click="onResultCLick()">次へ</button>
		       					</div>
       						</div>
       					</div>
       					<!--  
       					<div class="loading" v-if="qFlg == 4">
       						<div id="overlay">
       							<div id="content">
       								<img th:src="@{/image/mozo.svg}" class="content mt-50" width="100px" height="100px" />
       								<div class="content mt-80">
       									<i class="el-icon-loading"></i>
       								</div>
       								<div class="content mt-50">
			       						<span>ちょっとだけ待ってね。</span>
			       						<button @click="onResultCLick()">次へ</button>
			       					</div>
		       					</div>
	       					</div>
       					</div>
       					-->
       				</el-main>
      			</el-container>
	    </div>
	    <script>
		  	ELEMENT.locale(ELEMENT.lang.ja)
		  	let json = {};
		    var ten = new Vue({
		    	el: '#app',
		    	data: {
		            qFlg: 1,
		            yesFlg: false,
		            noFlg: false,
		            informations: [
						'子供はいつ見てもかわいいのー！',
						'たまには大人旅も楽しいのー！！',
						'一人で温泉を堪能するもよし！！',
						'大分も遊べる所がいっぱいだぞー',
						'たまには疲れを癒すもええぞー！',
						'どっちもよく見えてしまってのー',
						'温泉は日本で一番多い種類あるぞ！',
						'別府の旅館は温泉もついてて最高！',
						'ワシのことはええんじゃよ、、、',
						'好きなボタンを押してみてくれ！！'
					],
					display: "",
		        },
		    	name: 'omikugi',
		        methods: {
		        		threeclick: function(value) {
		        			json['third_times'] = value;
		        			json['category'] = 2;
		        			json['select_date'] = new Date;
		        			// 試験用
		        			//const json1 = {
		      				//		first_times: value,
		      				//		second_times: value,
		      				//		third_times: value,
		      				//		select_date: '2022-01-13'
		      				//};
		        			$.ajax({
		        				url: 'action/one/pull',  // thisの更新対策(scopeでは別処理)
		        				type: 'post',
		        				data: JSON.stringify(json),
		        				contentType: 'application/json'
		        			}).then(
		        				function(response) {
		        					this.yesFlg = true;
		        					this.noFlg = false;
		        					//delete json['first_times'];
		        					//delete json['second_times'];
		        					//delete json['third_times'];
		        					//delete json['select_date'];
		        					//delete json['category'];
		        					//delete json;
		        					window.location.href = "result";
		        				},
		        				function () {
		        					this.yesFlg = false;
		        					this.noFlg = true;
		        				}
		        			);
		        		},// ここでajaxの非同期通信を終了
		        		oneclick: function(value) {
		        			json['first_times'] = value;
		      			}, 
		      			twoclick: function(value) {
		        			json['second_times'] = value;
		      			}, 
			        	onMainCardCLick: function () {
			                window.location.href = "index";
			            },
			            onResultCLick: function () {
			                window.location.href = "result";
			            },
			            counterQuestion: function() {
			            	this.qFlg = this.qFlg + 1;
			            },
			            onChildenter: function() {
				        	this.display = this.informations[0];
				    	},
				    	onAdultenter: function() {
				        	this.display = this.informations[1];
				    	},
				    	onOnlyenter: function() {
				        	this.display = this.informations[2];
				    	},
				    	onLeisureenter: function() {
				        	this.display = this.informations[3];
				    	},
				    	onRestenter: function() {
				        	this.display = this.informations[4];
				    	},
				    	onGetlostenter: function() {
				        	this.display = this.informations[5];
				    	},
				    	onGoaroundenter: function() {
				        	this.display = this.informations[6];
				    	},
				    	onHotelenter: function() {
				        	this.display = this.informations[7];
				    	},
				    	onCapyenter: function() {
				    		this.display = this.informations[8];
				    	},
				    	onMouseleave: function() {
				    		this.display = this.informations[9];
				    	},
		         },
		    });
		</script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
	 </body>
</html>
 