<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>診断ページ</title>
		
		 <!-- import Vue.js, javascript, css before Element UI-->
		<script th:src="@{/webjars/vue/2.5.3-1/vue.js}"></script>
		<link rel="stylesheet" th:href="@{/webjars/element-ui/2.0.8/lib/theme-chalk/index.css}" />
    	<script th:src="@{/webjars/element-ui/2.0.8/lib/index.js}"></script>
    	<script th:src="@{/webjars/element-ui/2.0.8/lib/umd/locale/ja.js}"></script> <!-- 日本語訳用パッケージ  -->
    	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    	
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div id="app">
			<el-container>
	     		<el-header>
	         		<a th:href="@{'/'}">
	            		<img th:src="@{/image/icon.png}" width="20px" height="20px" />
	            		<span @click="onMainCardCLick">Which prefecture is it?</span>
	          		</a>
	        	</el-header>
	        	<el-container>
       				<el-main>
       					<div class="1">
       						<img th:src="@{/image/icon.png}" width="50px" height="50px" />
       						<span>おみくじを引くと、あなたが当てる都道府県が決まります！</span>
       					</div>
       					<div class="2">
       						<h3>答えの都道府県が決定しました！<br>制限時間は1分です。スタートボタンで開始します。</h3>
       						<button>スタート</button>
       					</div>
       					<div class="3">
	       					<h3>この写真はどの都道府県を<br>紹介しているでしょうか？</h3>
	       					<el-row>
	       						<el-col>
	       							<img th:src="@{https://images.unsplash.com/photo-1521287329847-ec334c5517fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80}" alt="" width="70px" height="70px" />
	       							<img th:src="@{https://images.unsplash.com/photo-1521287329847-ec334c5517fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80}" alt="" width="70px" height="70px" />
	       						</el-col>
	       					</el-row>
	       				</div>
       				</el-main>
      			</el-container>
	        </el-container>
	    </div>
	    
	    <script>
		  	ELEMENT.locale(ELEMENT.lang.ja)
		    var ten = new Vue({
		    	el: '#app',
		    	data: {
		            imageList: [10]
		        },
		    	name: 'PageA',
		        methods: {
		        	showMessage: function () {
		            	this.msg = 'こんにちわ';
		            },
		            onMainCardCLick: function () {
		                window.location.href = "index";
		            },
		        }
		    });
	
		    /* gsap.to(
		    	"img",
		     	{
		      		delay: 1,
		      		duration: 1.5,
		      		y: -10, // 少し上に移動させる
		      		opacity: 1,
		      		ease: "power2.out",
		      		// 複数要素を扱うプロパティ
		      		stagger: {
		        		from: "start", //左側から
		        		amount: 1.6 // 0.8秒おきに
		      		}
		      	}
		    ); */
	    </script>
	    
	 </body>
</html>
 
	
